<% provide(:title, 'by Date') %>

<h3><strong>My Articles:</strong></h3><hr>
<div class="row">
	<div class="col-md-12">
		<ol type="1">
		<% @articles.each do |article| %>
		            <li>
		            	<%= link_to (truncate strip_tags(simple_format(article.name)), :length => 30, :separator => ' '), article %>
		            </li><br />
		<% end %> 
		</ol>
	</div><br />
	<div>
	<%= link_to 'Articles by Date', calendar_path, class: 'btn btn-success' %>
	</div>
	
</div>
